*{
	margin: 10;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body {
	background-color: #ffd9b3;
	font-family: arial;
	}
.section_1 {
	display: block;
	margin: 30px auto;
	width: 75%;
}
.header {
	text-align: center;
}
.java{
  border-style: solid;
  border-width: 5px;
}
.navigation{
	text-align:center;
}
